
//
$topBarbkColor:#fff;

$topBarHeight: 3rem;











// **********************************************************************

.home {
}
// **********************navigator************************
header.home-header {
	height: 1em;
	background-color: #111;
	color: $topBarbkColor;
	border-bottom: solid 1px $topBarbkColor;
}

.top-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: $topBarHeight;
	background-color: #fff;
	border-bottom: solid 1px #ccc;
}

.left-top-logo {
	display: flex;
	justify-content: center;
	align-items: center;
	height: $topBarHeight;
	line-height: $topBarHeight;
	padding-left: 1em;
}

.left-top-logo > *{
	display: inline-block;
	margin: 0 0.5em;
	font-weight: bold;
}

.left-top-logo img {
	height: 3em;
}

.top-searcher {
	display: flex;
	align-items: center;
}

.top-menu-container {
}
// ***************************************
.home-body {
}

section.home-board {
	margin: 1em;
	border: solid 1px #000;
	height: 50em;
}
